:root {
    --light-primary-color: #ffffff;
    --light-secondary-color: #f9f6f7; 
    --light-accent-color: #ff971d; 
    --light-text-color: #131312;
    --dark-primary-color: #222831;
    --dark-secondary-color: #393e46; 
    --dark-accent-color: #f96d00; 
    --dark-text-color: #f2f2f2; 
  }

.dark {
  background-color: var(--dark-primary-color);
  color: var(--dark-text-color);
  border-color: var(--dark-text-color);

}
.light {
  background-color: var(--light-primary-color);
  color: var(--light-text-color);
  border-color: var(--light-text-color);
}

.light button  {
    background-color: var(--light-accent-color);
}

.light button:active {
    background-color: #2196f3;
}

.dark button  {
    background-color: var(--dark-accent-color);
}

.dark button:active {
    background-color: #2196f3;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1.5fr 1fr;
  grid-template-areas: 
    "header"
    "main";
}
main {
    grid-area: main;
    border: 1px solid;
    border-radius: 15px;
    padding: 15px;
}
header {
    grid-area: header;
    display: grid;
    align-content: center;
    justify-content: center;
}

.logoperson {
    display: flex;
    font-size: 50px;
    text-align: center;
}

form {
  display: flex;
  flex-flow: column;
}

.box {
    display: flex;
}

.icon-section {
    justify-content: right;
}
.icon-box {
    padding: 10px;
    align-items: center;
}

.box-vertical {
  display: flex;
  flex-flow: column;
}

#icon {
  font-size: 34px;
}
